:root{
    --background-color: #181818;
    --text-color: #E9E8E8;
}

@font-face {
    font-family: 'BSB';
    src: url('../fonts/BsbTextClassic-n5n4.ttf');
}
@font-face {
    font-family: 'Poe';
    src: url('../fonts/PoeText-peKO.ttf');
}

.newsletter{
    min-height: 100vh;
    max-width: 100vw;
    /* background-image: linear-gradient(to right bottom, #141414, #241c2b, #3d1f3d, #5d1d47, #7f1447, #7f113f, #7e0f38, #7d0f30, #5e1228, #40121f, #230e14, #000000); */
    background: url('..//dall-e//DALL·E\ 2023-02-09\ 20.47.04\ -\ create\ a\ minimal\ digital\ art\ on\ the\ future\ with\ line\,\ energy\ and\ should\ have\ a\ dark\ theme.png');
    position: relative;
    padding: 2rem;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 


.news-heading-text{
    margin: 0;
    font-family: 'BSB';
    color: var(--text-color);
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
}




.news{
    color: var(--text-color);
    background: rgba( 16, 1, 1, 0.1 );
    box-shadow: 4px 8px 32px 0 rgba(133, 138, 204, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.5;
}
.news-links{
    color: var(--text-color);
}
.date-time{
    margin: 0;
    align-items: end;
}
.alert-heading{
    margin: 0.5rem;
}
.news-img{
    width: 90%;
    margin: 0.5rem;
    border-radius: 10px;
    /* give it a gradient border */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    padding: 0.3rem;
    
}


.news-hide{
    opacity: 0;
    filter:blur(15px);
    transform: translateX(100%);
    transition: all 1s;
}
.news-show{
    opacity: 1;
    filter:blur(0px);
    transform: translateX(0%);
}

@media screen and (min-width: 650px) {
    
    .news-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        /* auto fill the grid */
        grid-auto-rows: minmax(100px, auto);

    }

    .news{
        text-align: left;
        padding: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:space-evenly;

    }
}
    
@media screen and (min-width: 1000px) {
    .news-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        /* auto fill the grid */
        /* grid-auto-rows: minmax(100px, auto); */

    }
}
